.list {
  background-color: #141414;
  min-height: 100vh;
  padding: 2em;
  .content {
    border-radius: 8px;
    background-color: white;
    padding: 2em;
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
  }

  a.textuno{
    color: #000000;
    font-size: 15px;
    font-weight: bold;
  }
}
